{% load static %}
<a href="{% url 'lead' lead.id %}" class="block bg-gray-700 p-4 rounded-lg shadow mb-2 transition-all duration-300 hover:bg-gray-600">
    <strong>N°: {{lead.id }}</strong> 
    <p>{{ lead.cliente.nome_fantasia }}</p>

    <div class="flex items-center justify-between mt-2">
        <span class="text-sm text-gray-400">Tk: R$ {{ lead.ticket|floatformat:2 }}</span>
        <img src="{% if lead.criador.perfil.foto %}{{ lead.criador.perfil.foto.url }}{% else %}{% static 'image/user_default.png' %}{% endif %}"
             alt="Foto do responsável" 
             class="rounded-full border-2 border-white shadow max-w-[32px] max-h-[32px] object-cover">
    </div>
</a>

