<div class="bg-opacity-20 bg-white text-white rounded-lg shadow-lg p-4 flex flex-col overflow-auto max-h-[80vh] custom-scroll">
    <div class="p-6 rounded-lg bg-gray-900">
        <form method="POST" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}

            <!-- Foto de Perfil e Upload + Username e Senha -->
            <div class="flex items-center space-x-6">
                <!-- Foto de Perfil -->
                <div class="relative w-24 h-24">
                    {% if user_edit.perfil.foto %}
                        <img src="{{ user_edit.perfil.foto.url }}" alt="Foto de Perfil" class="w-24 h-24 rounded-full object-cover border-2 border-gray-600">
                    {% else %}
                        <div class="w-24 h-24 flex items-center justify-center rounded-full border-2 border-gray-600 bg-gray-700 text-white text-3xl font-bold">
                            {{ user_edit.username|first|upper }}
                        </div>
                    {% endif %}
                    <label for="foto" class="absolute bottom-0 right-0 bg-gray-800 text-white p-1 rounded-full cursor-pointer hover:bg-gray-700">
                        <span class="material-symbols-outlined text-lg">photo_camera</span>
                    </label>
                    <input type="file" id="foto" name="foto" class="hidden">
                </div>
                
                <!-- Nome de Usuário e Senha -->
                <div class="flex w-full space-x-4">
                    <!-- Nome de Usuário -->
                    <div class="relative w-1/2">
                        <label for="username" class="text-white mb-2">Username</label>
                        <input type="text" id="username" name="username" value="{{ user_edit.username }}" placeholder="Username"
                               class="px-4 py-2 rounded-lg border border-gray-600 bg-gray-800 text-white w-full" required>
                    </div>
                    
                    <!-- Senha -->
                    <div class="relative w-1/2">
                        <label for="password" class="text-white mb-2">Senha</label>
                        <input type="password" id="password" name="password"  placeholder="Senha"
                               class="px-4 py-2 rounded-lg border border-gray-600 bg-gray-800 text-white w-full">
                    </div>
                </div>
            </div>

            <!-- Primeiro Nome e Sobrenome -->
            <div class="flex space-x-4">
                <div class="flex flex-col w-1/2">
                    <label for="first_name" class="text-white mb-2">Primeiro Nome</label>
                    <input type="text" id="first_name" name="first_name" value="{{ user_edit.first_name }}" placeholder="Primeiro Nome"
                           class="px-4 py-2 rounded-lg border border-gray-600 bg-gray-800 text-white" required>
                </div>
                <div class="flex flex-col w-1/2">
                    <label for="last_name" class="text-white mb-2">Sobrenome</label>
                    <input type="text" id="last_name" name="last_name" value="{{ user_edit.last_name }}" placeholder="Sobrenome"
                           class="px-4 py-2 rounded-lg border border-gray-600 bg-gray-800 text-white" required>
                </div>
            </div>

            <!-- E-mail -->
            <div class="flex flex-col">
                <label for="email" class="text-white mb-2">E-mail</label>
                <input type="email" id="email" name="email" value="{{ user_edit.email }}" placeholder="E-mail"
                       class="px-4 py-2 rounded-lg border border-gray-600 bg-gray-800 text-white" required>
            </div>

            <!-- Grupo do Usuário -->
            <div class="flex items-center space-x-4 w-full">
                <div class="flex flex-col w-1/3">
                    <label for="grupo" class="text-white mb-2">Cargo</label>
                    <select id="grupo" name="grupo" 
                            class="px-4 py-2 rounded-lg border border-gray-600 bg-gray-800 text-white w-full">
                        {% for grupo in grupos %}
                            <option value="{{ grupo.id }}" {% if grupo_atual and grupo_atual.id == grupo.id %}selected{% endif %}>
                                {{ grupo.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="flex flex-col w-1/3">
                    <label for="cep_int" class="text-white mb-2">CEP Inicial</label>
                    <input type="number" id="cep_int" name="cep_int" value="{{ user_edit.perfil.cep_inicio }}" placeholder="CEP Inicial"
                        class="px-4 py-2 rounded-lg border border-gray-600 bg-gray-800 text-white w-full">
                </div>

                <div class="flex items-center justify-center text-white">-</div>

                <div class="flex flex-col w-1/3">
                    <label for="cep_fim" class="text-white mb-2">CEP Final</label>
                    <input type="number" id="cep_fim" name="cep_fim" value="{{ user_edit.perfil.cep_fim }}" placeholder="CEP Final"
                        class="px-4 py-2 rounded-lg border border-gray-600 bg-gray-800 text-white w-full">
                </div>
            </div>




            <!-- Botão de Submissão -->
            <div class="flex justify-end">
                <button type="submit" class="px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Salvar Alterações</button>
            </div>
        </form>
    </div>
</div>
