{% extends 'base_main.html' %}

{% block title %}Icetar - Home{% endblock %}

{% block content %}
<div class="p-6 text-white">
    <h1 class="text-3xl font-bold text-primary mb-4 ">Bem-vindo ao Icetar CRM</h1>
    
    <p class="text-lg text-white">
        O <strong>Icetar CRM</strong> é uma ferramenta desenvolvida para gerenciar seus clientes, 
        acompanhar oportunidades e otimizar seu fluxo de trabalho. Com ele, você pode controlar 
        todas as interações com seus clientes, garantindo um atendimento eficiente e organizado.
    </p>

    <h2 class="text-2xl font-semibold text-primary mt-6">Fluxo de Leads</h2>
    <p class="text-lg text-white">
        O fluxo de leads no Icetar CRM segue um processo estruturado para garantir que nenhuma 
        oportunidade seja perdida. As etapas incluem:
    </p>

    <ul class="list-disc list-inside text-white mt-4">
        <li><strong>Análise:</strong> O lead é recebido e analisado para verificar se há potencial.</li>
        <li><strong>Atendimento:</strong> A equipe de vendas entra em contato com o lead.</li>
        <li><strong>Proposta Comercial (APC):</strong> Uma proposta é enviada ao cliente.</li>
        <li><strong>Aprovação (APV):</strong> O cliente avalia e aprova a proposta.</li>
        <li><strong>Orçamento:</strong> Os detalhes financeiros são definidos.</li>
        <li><strong>Follow-Up:</strong> Acompanhamento para garantir a conversão do lead.</li>
        <li><strong>Finalizado:</strong> O lead se torna um cliente ativo.</li>
    </ul>

    <p class="text-lg text-white mt-6">
        Com esse fluxo bem definido, sua equipe pode aumentar a conversão de leads e manter um 
        relacionamento sólido com os clientes.
    </p>
</div>
{% endblock %}
