<tr class="border border-gray-700">
    <td class="p-2 border border-gray-700">{{ lead_produto.produto.codigo_produto }}</td>
    <td class="p-2 border border-gray-700">{{ lead_produto.produto.descricao|safe  }}</td>
    <td class="p-2 border border-gray-700">{{ lead_produto.quantidade }}</td>
    <td class="p-2 text-center border border-gray-700">
        <button 
            class="text-red-500 hover:text-red-700"
            hx-get="{% url 'deletar_produto_lead' lead_produto.id %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
        >
            <span class="material-symbols-outlined">delete</span>
        </button>
    </td>

</tr>