{% extends 'base_main.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Icetar - Lead N° {{ lead.id }}{% endblock %}

{% block content %}
<div class="p-2">

    <!-- Título com Ícone -->
    <div class="flex items-center text-white text-2xl font-bold">
        <a href="{% url 'fluxo' %}">
            <span class="material-symbols-outlined text-2xl mr-2" translate="no">arrow_back_ios_new</span>
        </a>
        Lead N° {{ lead.id }} - {{ lead.cliente.nome_fantasia }} {% if lead.orcamento_omie %} / N° Omie {{ lead.orcamento_omie }} {% endif %}
    </div>

    <!-- Linha divisória -->
    <hr class="border-t-2 border-white my-1">

    {% include 'Main/Includes/include_status.html' %}


    <div class="bg-opacity-20 bg-white text-white rounded-lg shadow-lg p-2 flex flex-col overflow-auto max-h-[80vh] custom-scroll">
        <!-- Informações do Cliente -->
        <div class="mt-4 p-4 rounded-lg bg-gray-900">
            {% include 'Main/Fluxo/Lead/Includes/infos_cliente.html' %}
        </div>


        <!-- Informações do Lead -->
        <div class="mt-4 p-4 rounded-lg bg-gray-900">
            {% include 'Main/Fluxo/Lead/Includes/infos_lead.html' %}
        </div>
    
        <!-- Análise do Lead -->
        {% if lead.status == 0 and perms.fluxo.pode_modificar_analise %}
            <div class="mt-4 p-4 rounded-lg bg-gray-900 shadow-lg">
                <div class="flex justify-between items-center">
                    <h2 class="text-lg font-semibold text-white">Análise do Lead</h2>
                </div>
                <hr class="border-t-2 border-white my-2">


                <!-- Exibição do Vendedor Indicado e Motivo -->
                {% if lead.user_indicado %}
                    <div class="mb-4 p-4 bg-gray-800 text-white rounded-lg flex items-center space-x-4">
                        <!-- Foto do Usuário -->
                        {% if lead.user_indicado.perfil.foto %}
                            <img src="{{ lead.user_indicado.perfil.foto.url }}" 
                                alt="Foto de {{ lead.user_indicado.username }}" 
                                class="w-12 h-12 rounded-full border-2 border-gray-600 object-cover">
                        {% else %}
                            <div class="w-12 h-12 flex items-center justify-center bg-gray-700 text-white rounded-full border-2 border-gray-600">
                                {{ lead.user_indicado.username|slice:":1"|upper }}
                            </div>
                        {% endif %}

                        <!-- Informações do Vendedor -->
                        <div>
                            <p class="text-lg font-semibold"> Vendedor indicado: {{ lead.user_indicado.get_full_name|default:lead.user_indicado.username }}</p>
                            <p class="text-sm text-gray-400"> Motivo: {{ lead.get_vendedor_mot_display }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="mb-4 p-4 bg-gray-800 text-gray-400 rounded-lg text-center">
                        <p>Vendedor ainda não definido.</p>
                    </div>
                {% endif %}


                <form method="POST" action="{% url 'edit_lead_analise' lead.id %}">
                    {% csrf_token %}

                    <div class="mb-4">
                        <label class="text-white text-sm">Vendedor Responsável:</label>
                        <select name="vendedor" class="w-full p-2 bg-gray-800 text-white rounded-lg border border-gray-600">
                            <option value="">-- Selecione --</option>
                            {% for vendedor in vendedores %}
                                <option value="{{ vendedor.id }}">
                                    {{ vendedor.get_full_name|default:vendedor.username }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-4">
                        <label class="text-white text-sm">Informações para o vendedor:</label>
                        <textarea name="analise" class="w-full p-2 bg-gray-800 text-white rounded-lg border border-gray-600" required></textarea>
                    </div>

                    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition">
                        Enviar Análise
                    </button>
                </form>
            </div>
        {% endif %}


        <!-- Atendimento do Lead -->
        {% if lead.status == 1 and perms.fluxo.pode_modificar_atendimento %}
            <div class="mt-4 p-4 rounded-lg bg-gray-900 shadow-lg">
                <div class="flex justify-between items-center">
                    <h2 class="text-lg font-semibold text-white">Atendimento do Lead</h2>
                </div>
                <hr class="border-t-2 border-white my-2">
                <form method="POST" action="{% url 'edit_lead_atendimento' lead.id %}">
                    {% csrf_token %}
                    <div class="grid grid-cols-2 gap-4 mt-4">
                        <div>
                            <label class="text-white text-sm">Numero do Orçamento do Omie*:</label>
                            <input type="text" name="orcamento_omie" value="{{ lead.orcamento_omie|default:'' }}"
                            class="w-full p-2 bg-gray-800 text-white rounded-lg border border-gray-600"
                            required oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                     
                        </div>
                        <div>
                            <label class="text-white text-sm">Forma de pagamento*:</label>
                            <input type="text" name="forma_pagamento" value="{{ lead.forma_pagamento|default:'' }}" class="w-full p-2 bg-gray-800 text-white rounded-lg border border-gray-600" required>
                        </div>
                    </div>
                    <div class="flex items-end gap-2 mt-4 rounded-lg">
                        <div class="w-32">
                            <label class="text-white text-sm">Código:</label>
                            <input type="text" name="codigo_produto" id="codigo-input" 
                                class="w-full p-2 bg-gray-900 text-white rounded-lg border border-gray-700" > 
                        </div>
                        <div class="w-24">
                            <label class="text-white text-sm">Qnt:</label>
                            <input type="number" name="qnt_produto" min="1" value="1" 
                                class="w-full p-2 bg-gray-900 text-white rounded-lg border border-gray-700">
                        </div>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white p-2 rounded-lg transition flex items-center justify-center h-10"
                            hx-get="{% url 'buscar_produto' lead.id %}" 
                            hx-target="#produto-list"
                            hx-include="#codigo-input, [name='qnt_produto']"
                            hx-indicator=".htmx-indicator"
                            hx-swap="beforeend">
                        <span class="material-symbols-outlined text-lg">search</span>
                    </button>
                    
                        <div class="htmx-indicator text-white mt-2 hidden">Buscando...</div>
                    </div>
                    
                    
                    
                    <table class="w-full mt-4 border-collapse bg-gray-900 text-white rounded-lg shadow-lg">
                        <thead>
                            <tr class="bg-gray-800 text-white">
                                <th class="p-2 border border-gray-700">Código</th>
                                <th class="p-2 border border-gray-700">Descrição</th>
                                <th class="p-2 border border-gray-700">Qnt</th>
                                <th class="p-2 border border-gray-700">Ação</th>
                            </tr>
                        </thead>
                        <tbody id="produto-list">
                            {% for produto_lead in produtos_lead %}
                            <tr class="border border-gray-700">
                                <td class="p-2 border border-gray-700">{{ produto_lead.produto.codigo_produto }}</td>
                                <td class="p-2 border border-gray-700">{{ produto_lead.produto.descricao|safe  }}</td>
                                <td class="p-2 border border-gray-700">{{ produto_lead.quantidade }}</td>
                                <td class="p-2 text-center border border-gray-700">
                                    <button 
                                        class="text-red-500 hover:text-red-700"
                                        hx-get="{% url 'deletar_produto_lead' produto_lead.id %}"
                                        hx-target="closest tr"
                                        hx-swap="outerHTML"
                                    >
                                        <span class="material-symbols-outlined">delete</span>
                                    </button>
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        
                    <div class="mb-4">
                        <label class="text-white text-sm">Informações para o Comprador:</label>
                        <textarea name="atendimento" class="w-full p-2 bg-gray-800 text-white rounded-lg border border-gray-600"></textarea>
                    </div>
        
                    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition">
                        Enviar Antendimento
                    </button>
                </form>
            </div>
        {% endif %}

        
        <!-- Orçamento do Lead -->
        {% if lead.status == 4 and perms.fluxo.pode_modificar_orcamento %}
        <div class="mt-4 p-4 rounded-lg bg-gray-900 shadow-lg">
            <div class="flex justify-between items-center">
                <h2 class="text-lg font-semibold text-white">Orçamento do Lead</h2>
            </div>
            <hr class="border-t-2 border-white my-2">
            <table class="w-full mt-4 border-collapse bg-gray-900 text-white rounded-lg shadow-lg">
                <thead>
                    <tr class="bg-gray-800 text-white">
                        <th class="p-2 border border-gray-700">Código</th>
                        <th class="p-2 border border-gray-700">Descrição</th>
                        <th class="p-2 border border-gray-700">Qnt</th>
                        <th class="p-2 border border-gray-700">Prazo</th>
                        <th class="p-2 border border-gray-700">Preço</th>
                    </tr>
                </thead>
                <tbody id="produto-list">
                    {% for produto_lead in produtos_lead %}
                    <tr class="border border-gray-700">
                        <td class="p-2 border border-gray-700">{{ produto_lead.produto.codigo_produto }}</td>
                        <td class="p-2 border border-gray-700">{{ produto_lead.produto.descricao|safe }}</td>
                        <td class="p-2 border border-gray-700">{{ produto_lead.quantidade }}</td>
                        <td class="p-2 border border-gray-700">{{ produto_lead.prazo }} Dias</td>
                        <td class="p-2 border border-gray-700">R$ {{ produto_lead.valor_unitario|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Formulário de Upload de PDF -->
            <div class="mt-4 p-4 rounded-lg bg-gray-800 shadow-lg">
                <h2 class="text-lg font-semibold text-white mb-2">Anexar o PDF da proposta do Omie</h2>
                <form action="{% url 'edit_lead_orcamento' lead.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="pdf_omie" accept="application/pdf"
                        class="w-full p-2 border border-gray-700 rounded-lg bg-gray-900 text-white">
                    <button type="submit"
                        class="w-full p-2 mt-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg shadow-lg">
                        Enviar Orçamento
                    </button>
                </form>
            </div>


        </div>
        {% endif %}

        {% if lead.status == 5 and perms.fluxo.pode_modificar_followup %}
            <div class="mt-4 p-4 rounded-lg bg-gray-900 shadow-lg">
                <div class="flex justify-between items-center">
                    <h2 class="text-lg font-semibold text-white">Finalizar Lead</h2>
                </div>
                <hr class="border-t-2 border-white my-2">
                <p class="text-white mb-2">O cliente aceitou a proposta?</p>
                <div class="flex space-x-4">
                    <label class="w-32 flex justify-center items-center px-4 py-2 bg-gray-800 border border-gray-600 rounded-lg cursor-pointer transition-all duration-300 hover:bg-green-600 hover:border-green-500 peer-checked:bg-green-600 peer-checked:border-green-500">
                        <input type="radio" name="aceitou" value="sim" class="hidden peer" 
                            hx-get="{% url 'get_finalizar_lead' 1 lead.id %}" 
                            hx-target="#resposta-container" hx-trigger="change">
                        <span class="material-symbols-outlined text-white text-2xl">check_circle</span>
                        <span class="ml-2 text-white text-lg">Sim</span>
                    </label>
                
                    <label class="w-32 flex justify-center items-center px-4 py-2 bg-gray-800 border border-gray-600 rounded-lg cursor-pointer transition-all duration-300 hover:bg-red-600 hover:border-red-500 peer-checked:bg-red-600 peer-checked:border-red-500">
                        <input type="radio" name="aceitou" value="nao" class="hidden peer" 
                            hx-get="{% url 'get_finalizar_lead' 0 lead.id %}" 
                            hx-target="#resposta-container" hx-trigger="change">
                        <span class="material-symbols-outlined text-white text-2xl">cancel</span>
                        <span class="ml-2 text-white text-lg">Não</span>
                    </label>
                </div>
                
                <!-- Área dinâmica para exibir observação ou motivos -->
                <div id="resposta-container"></div>
            </div>
        {% endif %}
    

        {% include 'Main/Includes/historico_lead.html' %}

        <!-- Declinar Lead -->
        {% if perms.fluxo.pode_modificar_declinar or perms.fluxo.pode_excluir_lead or request.user.is_superuser %}
            <div class="mt-4 p-4 rounded-lg bg-gray-900 shadow-lg">
                <div class="flex justify-between items-center cursor-pointer toggle-section">
                    <h2 class="text-lg font-semibold text-white">Gerenciamento do Lead</h2>
                    <span class="material-symbols-outlined text-white text-2xl ml-auto m-0 p-0">expand_less</span>
                </div>
                <div class="mt-4 hidden"> 
                    <hr class="border-t-2 border-white my-2">
                    <div class="flex space-x-4">
                        {% if request.user.is_superuser or perms.fluxo.pode_excluir_lead %}
                            <a href="{% url 'deletar_lead' lead.id %}" class="w-44 flex justify-center items-center px-4 py-2 bg-gray-800 border border-gray-600 rounded-lg cursor-pointer transition-all duration-300 hover:bg-red-600 hover:border-red-600">
                                <span class="material-symbols-outlined text-white text-2xl">delete</span>
                                <span class="ml-2 text-white text-lg">Deletar Lead</span>
                            </a>
                        {% endif %}
                        {% if request.user.is_superuser or perms.fluxo.pode_modificar_declinar %}
                            <a href="{% url 'declinar_lead' lead.id %}" class="w-44 flex justify-center items-center px-4 py-2 bg-gray-800 border border-gray-600 rounded-lg cursor-pointer transition-all duration-300 hover:bg-yellow-600 hover:border-yellow-500">
                                <span class="material-symbols-outlined text-white text-2xl">error</span>
                                <span class="ml-2 text-white text-lg">Declinar Lead</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".toggle-section").forEach(function (toggleBtn) {
            let content = toggleBtn.nextElementSibling; 
            let icon = toggleBtn.querySelector("span");

            // Garante que a seção esteja minimizada ao 3
            content.classList.add("hidden");
            

            toggleBtn.addEventListener("click", function () {
                if (content.classList.contains("hidden")) {
                    content.classList.remove("hidden");
                    icon.textContent = "expand_less"; 
                } else {
                    content.classList.add("hidden");
                    icon.textContent = "expand_more"; 
                }
            });
        });
    });

</script>



{% endblock %}
